<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgh.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lgh.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_en_name" property="userEnName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="INTEGER"/>
        <result column="user_sex" property="userSex" jdbcType="BIT"/>
        <result column="user_age" property="userAge" jdbcType="SMALLINT"/>
        <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
        <result column="user_marry_state" property="userMarryState" jdbcType="BIT"/>
        <result column="user_state" property="userState" jdbcType="BIT"/>
        <result column="user_job_type" property="userJobType" jdbcType="TINYINT"/>
        <result column="user_id_card" property="userIdCard" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="user_birthday" property="userBirthday" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <update id="updateBatch" parameterType="list">
    update tb_user set user_name=#{userName} where id=#{id}
  </update>
    <update id="updateByList" parameterType="list">
        update tb_user
        set user_name = CASE
        <foreach collection="users" item="user">
            WHEN id = #{user.id} THEN #{user.userName}
        </foreach>
        END
        where id IN
        <foreach collection="users" item="user" separator="," open="(" close=")">
            #{user.id}
        </foreach>
    </update>
</mapper>