<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgh.mapper.UserTableMapper">
    <update id="updateBatch" parameterType="list">
        update user set name=#{name} where id=#{id}
    </update>
    <update id="updateByList" parameterType="list">
        update user
        set name = CASE
            <foreach collection="users" item="user">
                WHEN id = #{user.id} THEN #{user.name}
            </foreach>
          END
        where id IN
        <foreach collection="users" item="user" separator="," open="(" close=")">
            #{user.id}
        </foreach>
    </update>
</mapper>