<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.mapper.LogonMapper">
  <resultMap id="BaseResultMap" type="com.lgh.model.Logon">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="logon_time" jdbcType="BIGINT" property="logonTime" />
    <result column="resource_data" jdbcType="VARCHAR" property="resourceData" />
  </resultMap>
</mapper>